bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Ignore JetBrains Rider project settings
.idea/

# Ignore Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes